body {
background:#fff url(../images/bg.png) repeat-x;
color:#333;
font-family:Tahoma, Verdana, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
border-top:3px solid #690;
}

h1,h2,h3,h4,h5,h6 {
font-family:'Trebuchet MS', Verdana, Sans-Serif;
font-weight:400;
}

a {
color:#690;
text-decoration:none;
}

blockquote {
margin: 0 0 15px 15px;
padding-left: 10px;
border-left: 2px solid #ccc;
color: #666;
}

.container_16 {
}

/* Header */

#header {
color:#666;
margin:0 0 20px;
}

#header h1 a {
color:#000;
font-weight:700;
}

#header h1 a:hover {
text-decoration:none;
}

ul#nav_menu {
list-style-type:none;
text-transform:uppercase;
margin:3px 0 25px;
font-weight:700;
}

ul#nav_menu li {
display:block;
float:left;
margin:0 25px 0 0;
padding-right: 26px;
background:url(../images/nav_menu.png) right center no-repeat;
}

ul#nav_menu li a {
color:#690;
color:#fff;
}

ul#nav_menu li.last {
float:right;
margin-right:0;
padding:0 0 0 26px;
background:url(../images/nav_menu.png) left center no-repeat;
}

#search {
float:right;
margin-top:15px;
}

/* Post */
.post {
margin-bottom:20px;
}

.entry_title a:hover {
color:#333;
}

.entry_text {
border-bottom:1px dotted #ccc;
}

.entry_data {
text-align:right;
color:#999;
font-size:12px;
margin:3px 0;
}

.single_data h3 {
margin-bottom:5px;
font-size:16px;
}

ul#related_post {
color:#690;
list-style-type:disc;
margin:0 0 20px;
}

ul#related_post li {
margin-left:15px;
}

/* Comment */

#comments ol {
list-style-type:none;
margin:0;
}

#comments ol li {
border-bottom:1px solid #eee;
margin:0 0 15px;
}

.c_user {
margin-bottom:10px;
color:#666;
}

img.gravatar {
float:right;
border:1px solid #ccc;
padding:1px;
}

.c_text {
background:#f6f6f6;
padding:10px 10px 1px;
}

/* Sidebar */

#sidebar {
background:#f6f6f6;
padding:15px 0 0;
}

#sidebar a {
color:#666;
}

.widget {
margin:0 20px 20px;
}

.widget h2 {
color:#690;
font-size:16px;
margin-bottom:5px;
}

.widget ul {
list-style-type:none;
color:#690;
margin:0;
}

.widget ul li {
list-style-type:disc;
margin:2px 0 2px 20px;
}

/* Footer */

#footer {
margin-top:30px;
padding-bottom:10px;
text-align:center;
}

/* Form */

input {
font-family:Tahoma, Verdana, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

input.text,textarea {
border:1px solid #bbb;
padding:3px;
}

input.submit {
border:1px solid #580;
border-top-color:#9c3;
border-left-color:#9c3;
background:#690;
color:#fff;
cursor:pointer;
overflow:visible;
padding:2px 7px;
*padding: 1px 7px; /* IE 6, 7 hack */
}

#comment_form input {
vertical-align:middle;
}

#comment_form label {
margin-left:5px;
}

#comment_form textarea {
width:95%;
}

#comment_form p {
margin-bottom:15px;
}

/* Misc */

.pages {
margin-top:30px;
color:#666;
font-size:12px;
}

.pages a,.pages span {
display:block;
float:left;
border-right:1px solid #ccc;
padding:0 5px;
}

a:hover,.c_user a {
text-decoration:underline;
}

.c_user a:hover {
text-decoration:none;
}

h1,.entry_title h2 {
margin-bottom:0;
}

.entry_title,.c_text p {
margin-bottom:10px;
}
