/*
 * Typecho Default Theme
 *
 * @author	fen1211@gmail.com
 * @link	http://typecho.net/
 * @update	2008-12-22 22:00
 */


/* import 960.gs css framework */
@import url(css/960.gs.css);

/*
 * gobal settings
 */
body {
background: #fff;
color: #333;
font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
line-height: 1.62;
}

input, textarea { font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 100%; }

a {
color: #36c;
text-decoration: none;
}
a:hover {
color: #333;
text-decoration: underline;
}

img.alignleft { margin: 4px 10px 0 0; }
img.alignright { margin: 4px 0 0 10px; }

code {display: block; border: 1px solid #AAAAAA; background: #F1ECDD; color: #000; line-height: 16px; overflow: auto;
	font-family: 'andale mono','lucida console',monospace; font-size: 12px; padding: 10px; margin: 10px 0;}

ul { list-style-type: disc; }

/*
 * header
 */

#header {
color: #888;
margin: 0 10px 15px;
height: 110px;
position: relative;
border-bottom: 1px dotted #ddd;
}

#logo {
position: absolute;
top: 15px;
left: 0;
}

#logo h1 {
font-size: 36px;
margin-bottom: 0;
}
#logo h1 a {
color: #333;
}
#logo h1 a:hover {
text-decoration: none;
}

p.description { margin: -5px 0 0; }

/* header nav menu */
ul#nav_menu {
list-style: none;
position: absolute;
right: 0;
top: 50px;
overflow: hidden !important;
overflow: visible;
}
ul#nav_menu li {
display: inline;
margin: 0 0 0 20px;
}
ul#nav_menu li a {
color: #333;
font-weight: bold;
}
ul#nav_menu li a.current {
}
ul#nav_menu li a:hover {
text-decoration: underline;
color: #36c;
}

/*
 * content
 */
#content { overflow: hidden; }
#content a { font-weight: bold; }
#content p { margin-bottom: 15px; }

.post {
margin-bottom: 30px;
}

h2.entry_title {
margin-bottom: 0;
}

h2.entry_title a {
color: #333;
}

.entry_data {
color: #888;
margin-bottom: 15px;
font-size: 12px;
}

#post_extra {
border-top: 1px dotted #ddd;
padding: 5px 0;
text-align: right;
}

/* pages nav */
ol.pages {
margin: 20px 0 0 0;
color: #666;
list-style: none;
font-size: 12px;
}

ol.pages li {
margin: 0 5px 0 0;
display: inline;
}

ol.pages li a {
	padding: 0 4px;
}

ol.pages li.current a {
background: #36c;
color: #fff;
}

/*
 * comment list
 */
#comments {
margin-top: 20px;
}
ol#comment_list {
margin: 0;
list-style: none;
}
ol#comment_list li {
margin: 0 0 5px;
}
.comment_data {
margin-bottom: 5px;
padding-bottom: 5px;
border-bottom: 1px dotted #ddd;
color: #888;
font-size: 12px;
}
.comment_data .author {
font-size: 13px;
font-weight: bold;
color: #333;
}
.comment_body {
overflow: hidden;
}

img.avatar {
float: left;
margin: 4px 10px 0 0;
}

#comment_form {
}
#comment_form label {
margin-left: 15px;
}
#comment_form p {
margin-bottom: 15px;
}
#comment_form .text {
width: 40%;
}
#comment_form textarea {
width: 90%;
}

/*
 * sidebar
 */
#sidebar {
/*background: #f3fade;*/
}
.widget {
/*padding: 20px 25px;
border-bottom: 1px solid #e5ead1;
border-top: 1px solid #fff;*/
margin-bottom: 25px;
}
.widget h2 {
font-size: 15px;
margin-bottom: 2px;
}
.widget ul {
margin: 0;
list-style-type: none;
}
.widget ul li {
overflow: hidden;
margin: 0;
padding: 3px 0;
/*padding-left: 12px;
background: url(images/widget_style_li.png) 0 5px no-repeat;*/
}

#search {
margin-top: 10px;
}

/* 
 * footer 
 */
#footer {
margin-top: 15px;
padding: 15px 0;
text-align: center;
}


/*
 * misc
 */
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}
