html
{
	min-height: 100%;
}

body
{
	background:#CBD6BA url(../images/powered.gif) bottom right no-repeat;
	font-family:verdana, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

#logo
{
	height:26px;
	width:26px;
	background:url(../images/magike.gif) center no-repeat;
	float:left;
}
 .clearfix:after 
 {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
* html>body .clearfix {
display: inline-block;
width: 100%;
}

* html .clearfix {
/* Hides from IE-mac \*/
height: 1%;
/* End hide from IE-mac */
}
 /* ie7 hack*/
*+html .clearfix {
min-height: 1% ;
}



#top
{
	height:20px;
	padding:5px 10px;
	background:#292D34;
}

#title
{
	height:20px;
	line-height:20px;
	font-size:9pt;
	color:#AAA;
}

#title a
{
	color:#AAA;
	text-decoration: underline;
}

#title a:hover
{
	color:#EEE;
	text-decoration: none;
}

#title img
{
	margin:0 3px -4px 3px;
}

#top_menu
{
	height:33px;
	background:#3D434E;
	border-bottom:4px solid #ADFE27;
}

#top_menu ul
{
	margin:0;
	padding:0 5px;
	background:#383D44;
	height:30px;
	border-top:1px solid #464A52;
	border-bottom:2px solid #72B601;
}

#top_menu ul li
{
	float:left;
	margin:0;
	padding-right:2px;
	height:30px;
	line-height:30px;
	list-style:none;
	font-size:10pt;
	background:url(../images/btn_nav.gif) right bottom no-repeat;
}

#top_menu ul li a
{
	height:30px;
	color:#EEEEFF;
	padding:0 20px;
	text-decoration: underline;
	line-height:30px;
	display:block;
	float:left;
	text-align:center;
}

#top_menu ul li a:hover,#top_menu ul li a.focus
{
	background:#292D34;
	text-decoration: none;
	color:#FFF;
}

#top_menu ul li a.focus,#top_menu ul li a.focus:hover
{
	font-weight:bold;
	text-decoration: none;
	background:#292D34;
}

#menu_content
{
	height:30px;
	line-height:30px;
	background:#292D34;
	padding-top:25px;
}

#menu_content ul
{
	margin:0 10px;
	padding:0;
}

#menu_content ul li
{
	float:left;
	margin:0 2px 0 0;
	height:30px;
	line-height:30px;
	list-style:none;
	font-size:11pt;
}

#menu_content ul li a
{
	height:30px;
	line-height:30px;
	color:#AAA;
	text-decoration: underline;
	display:block;
	text-align:center;
	float:left;
	font-weight:bold;
}

#menu_content ul li a span
{
	padding:0 20px;
	display:block;
}

#menu_content ul li a img
{
	border:0;
	margin-bottom:-2px;
	margin-right:4px;
}

#menu_content ul li a:hover,#menu_content ul li a.focus
{
	color:#555;
	text-decoration: none;
	background:#FFF url(../images/btn-bg.gif) left bottom no-repeat;
}

#menu_content ul li a:hover span,#menu_content ul li a.focus span
{
	background:url(../images/btn-bg.gif) right top no-repeat;
}

#menu_content ul li a.focus
{
	font-weight:bold;
}

#content
{
	width:100%;
	float:left;
}

#element
{
	margin:20px;
}

#element .describe
{
	color:#999;
	font-size:9pt;
	line-height:20px;
	font-weight:normal;
	font-family:Georgia,"Times New Roman",Times,serif;
}

#element .hit_message
{
	font-size:9pt;
	margin-left:5px;
	line-height:21px;
	font-weight:bold;
	color:#777;
}

#element table.classic_table tr td
{
	background:#F1F1F1;
	font-size:10pt;
	padding:5px 20px;
}

#element h2
{
	margin:0;
	padding:0 5px;
	height:22px;
	line-height:22px;
	font-size:10pt;
	color:#5B686F;
	border-bottom:1px solid #CCC;
}

#element p
{
	margin:0;
	padding:0;
}

#element .input  h2
{
	padding:10px;
	height:22px;
	line-height:22px;
	font-size:11pt;
	border:none;
	width:80px;
	float:left;
}

#element .input p
{
	margin:0;
	padding:10px;
	font-size:9pt;
	float:left;
	color:#464A52;
}

#element .input
{
	border-bottom:1px solid #DDD;
	float:left;
	width:100%;
	height:auto;
}

#element .mini-input
{
	width:350px;
	float:left;
}

#element .mini-input h2
{
	margin-bottom:5px;
}

#element .submit
{
	padding:5px;
	float:left;
}

#element .auto-completer
{
	border:1px solid #98BBF5;
	background:#FFF;
	width:710px;
	z-index:100;
	font-size:9pt;
}

#element .auto-completer-hover
{
	background:#98BBF5;
	padding:3px;
	color:#FFF;
	height:20px;
	line-height:20px;
}

#element .auto-completer-blur
{
	background:#FFF;
	padding:3px;
	color:#333;
	height:20px;
	line-height:20px;
}

#element .validate-word
{
	margin-left:10px;
	font-weight:bold;
	color:#990000;
	font-size:9pt;
	empty-cells:hide;
}

#element form
{
	margin:0;
	padding:0;
}

#element #search,#element #upload,#element #merge
{
	background:#EEF0F2;
	padding:10px;
	border-top:1px solid #CCC;
	color:#666;
	display:none;
}

#element span.word
{
	text-decoration: underline;
	font-weight:bold;
	cursor:pointer;
	margin-left:5px;
}

#element #search p,#element #upload p
{
	margin:0 0 5px 0;
	display:block;
	line-height:26px;
}

#element table,#element #search,#element #upload
{
	font-size:9pt;
}

#element table
{
	table-layout:fixed;
}

#element table tr td
{
	color:#292D34;
	height:24px;
	line-height:24px;
	overflow:hidden;
	background:#EEF0F2;
	border-bottom:#BEC9D1 solid 1px;
    border-top:#FFF solid 1px;
	white-space:nowrap;
	word-wrap: break-all;
}

#element table tr.activated td
{
	font-weight:bold;
}

#element table tr
{
	line-height:24px;
	overflow:hidden;
}

#element table tr td img.describe
{
	float:left;
	padding:2px;
}

#element table tr td a,#element .message a
{
	text-decoration: underline;
	color:#464A52;
}

#element table tr td a:hover,#element .message a:hover
{
	text-decoration: none;
}

#element table tr td.describe
{
	color:#AAA;
	font-family:verdana, Helvetica, sans-serif;
}

#element table.mceEditor tr td{border-top:none;border-bottom:none}
#element table.mceEditor tr td.mceToolbarTop{border-bottom:1px solid #BEC9D1}

#element table tr.heading td
{
	color:#3F515C;
	font-weight:bold;
	font-size:10pt;
	height:24px;
	line-height:24px;
	border-bottom:none;
	background:#DDD url(../images/button.gif) top;
	border:none;
}

#element  table tr.hover td
{
	background-color:#F4F4F4;
}

#element  table tr.select td
{
	background-color:#FFFFAA;
}

#element .table_nav
{
	line-height:22px;
	padding:3px 10px;
	font-size:9pt;
	color:#464A52;
	font-weight:bold;
}

#element .table_nav span
{
	cursor:pointer;
	text-decoration: underline;
	float:left;
}

#element .table_nav b
{
	float:left;
}

#element .table_nav u
{
	float:right;
	text-decoration: none;
}

#element .table_nav a
{
	float:right;
	color:#464A52;
	text-decoration: underline;
}

#element .table_nav u.nav,#element .table_nav a.nav
{
	margin:0;
	padding:0 2px;
}

#element .message
{
	background:#FFFFAA url(../images/information.gif) left top no-repeat;
	border:1px solid #CCC;
	padding:5px 5px 5px 32px;
	margin-bottom:10px;
	font-size:10pt;
	line-height:16px;
	color:#666;
	display:none;
	cursor:pointer;
}

#element .proc
{
	background:#EEE url(../images/proc.gif) left center no-repeat;
	border:1px solid #CCC;
	padding:5px 5px 5px 32px;
	margin-bottom:10px;
	font-size:10pt;
	color:#666;
	display:none;
}

input,textarea,select
{
	font-family:verdana, Helvetica, sans-serif;
	font-size:10pt;
}

input.text,select.text
{
	background:#FFF url(../images/input_bg.gif) top left repeat-x;
	border:1px solid #F4F4F4;
	border-left:1px solid #ACA899;
	border-top:1px solid #ACA899;
	line-height:20px;
	height:20px;
	font-size:10pt;
	padding:2px;
}

select.text
{
	line-height:24px;
	height:24px;
	padding:1px;
	margin:0;
}

span.button
{
	line-height:22px;
	height:23px;
	width:82px;
	display:block;
	cursor:pointer;
	font-size:10pt;
	color:#363636;
	text-align:center;
	float:left;
	margin-right:3px;
	background:url(../images/glass_button.gif) top left no-repeat;
}

#element span.describe
{
	color:#AAA;
}

span.focus
{
	background:url(../images/glass_button.gif) top right no-repeat;
}

span.click
{
	background:url(../images/glass_button.gif) top right no-repeat;
}

textarea.text
{
	background:#FFF;
	border:1px solid #EBEBEB;
	border-left:1px solid #ACA899;
	border-top:1px solid #ACA899;
	font-size:10pt;
	padding:2px;
	margin:0;
}

input.focus,textarea.focus
{
	background:#FFFFAA;
}

#element textarea.textarea
{
	border:1px solid #ACA899;
	border-bottom:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	border-top-width:2px;
	font-size:10pt;
	padding:5px;
	margin:0;
	line-height:18px;
}

#element .toolbar
{
	margin:0 0 1px 0;
	padding:0;
	text-align:left;
	width:100%;
	float:left;
	display:block;
}

#element .toolbar button
{
	border:1px solid #BEC9D1;
	margin:0 1px 0 0;
	padding:0 3px;
	line-height:18px;
	background:#FFF;
	cursor:pointer;
	background:url(../images/btn.gif) repeat-x top;
	display:block;
	float:left;
	font-size:13px;
	font-family:verdana, Helvetica, sans-serif;
}

#element a.img img
{
	border:none;
	float:left;
}

#element a.img
{
	border:none;
	padding:2px;
	float:left;
}

#element a.img:hover
{
	padding:1px;
	border:1px solid #75818A;
	background:#DDD;
}

#element i.img
{
	float:left;
	padding:1px;
	border:1px solid #75818A;
	background:#DDD;
}

#element .tab_nav ul
{
	padding:0;
	margin:0;
}

#element .tab_nav ul li
{
	float:left;
	font-size:10pt;
	height:22px;
	line-height:22px;
	list-style:none;
}

#element .tab_nav ul li span
{
	padding:0 10px;
	color:#333;
	display:block;
	background:#FFF;
	cursor:pointer;
	text-decoration:underline;
}

#element .tab_nav ul li span.focus
{
	background:#EEF0F2;
	text-decoration:none;
}

.magikePopup
{
	height:202px;
	width:402px;
	left:50px;
	top:20px;
	position:absolute;
	z-index:998;
}

.magikePopup p
{
	padding:10px 10px 0 10px;
	margin:0;
	font-size:10pt;
	line-height:22px;
	display:block;
}

.magikePopup p span
{
	color:#333;
	margin-right:10px;
	line-height:24px;
	height:24px;
	width:70px;
	float:left;
	display:block;
}

.magikePopup p input
{
	border:1px solid #ACA899;
	border-bottom:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	padding:2px;
}

.magikePopup input.text
{
	width:250px;
}

.magikePopupShadow
{
	background:#000;
	filter:alpha(opacity=30); 
	-moz-opacity:0.30; 
	opacity:0.30;
	z-index:999;
	position:absolute;
	height:200px;
	width:400px;
	top:2px;
	left:2px;
}

.magikePopupContent
{
	border:1px solid #222;
	height:200px;
	width:400px;
	z-index:1000;
	left:-3px;
	top:-3px;
	position:relative;
	background:#FFF;
}

.magikePopupTitle
{
	border-bottom:1px solid #222;
	margin:1px;
	background:#3D77CB;
	height:22px;
	line-height:22px;
	padding:0 5px;
	color:#FFF;
	font-size:10pt;
	font-weight:bold;
	font-family:Arial,helvetica,clean,sans-serif;
}

.magikePopupTitle span.magikePopupClose
{
	top:6px;
	right:6px;
	position:absolute;
	cursor:pointer;
	height:16px;
	width:16px;
	background:url(./../images/cancle.gif) top left no-repeat;
}

.magikeShadow
{
	top:0;
	left:0;
	position:absolute;
	background:#000;
	filter:alpha(opacity=30); 
	-moz-opacity:0.30;
	opacity:0.30;
	z-index:10;
}

.magikePopupText, .magikePopupButton
{
	margin:0 1px;
}

.magikePopupButton span
{
	margin-top:5px;
}

.magikePopupMask
{
	width:100%;
	height:440px;
	display:block;
	background:url(../images/editor_loading.gif) center no-repeat;
}

#footer
{
	float:left;
	width:100%;
	height:40px !important;
	height:15px;
	font-size:15px;
}
