/**
 *
 *
 */
body {
    background: #f7fbe9;
    font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
	color: #474A51;
}

/**
 * 头部导航
 */
.typecho-head-guid {
    height: 30px;
    background: #333;
    color: #fff;
    position: relative;
	border-bottom:2px solid #72B601;
}

.typecho-head-guid dl {
    overflow: hidden;
	margin-left:10px;
    zoom: 1;
}

.typecho-head-guid dt {
    float: left;
    height: 30px;
    line-height: 30px;
    background: #333 url(../images/1.png) no-repeat top right;
    padding: 0 15px;
    font-size: 13px;
    zoom: 1;
}

.typecho-head-guid dt:hover {
    cursor: pointer;
	background:#C3D9FF;
	color:#333;
}

.typecho-head-guid dd {
    display: none;
}

.typecho-head-guid dd.show {
    display: block;
    position: absolute;
    background: #C3D9FF;
    font-size: 13px;
    overflow: hidden;
    top: 30px;
    left: 9px;
	width:205px;
	z-index:100;
	border:1px solid #AAA;
	border-top:none;
}

.typecho-head-guid dd.show ul {
    position: relative;
    list-style: none;
	top:-1px;
}

.typecho-head-guid dd.show li {
    border-top: 1px solid #E8EEF7;
    margin-bottom: 3px;
    margin: 0px 8px;
}

.typecho-head-guid dd.show a {
	display:block;
	padding: 5px 8px;
}

.typecho-head-guid dd.show a:link, .typecho-head-guid dd.show a:visited {
    text-decoration: none;
    color: #333;
}

.typecho-head-guid dd.show a:hover {
	background-color:#E8EEF7;
	text-decoration: underline;
	color:#333;
}

.typecho-head-guid p.operate {
    position:absolute;
    font-size: 12px;
    top: 0px;
    right: 5px;
    *right: 25px;
    height: 30px;
    line-height: 30px;
}

.typecho-head-guid p.operate a.exit {
    display: inline-block;
    background: url(../images/2.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -999px;
    outline: none;
    overflow: hidden;
    position:relative;
    *position:absolute;
    top: 5px;
}

.typecho-head-guid p.operate span.author {
    padding-right: 8px;
}


/**
 *
 */
.typecho-container {
    background: #f7fbe9;
    width: 950px;
    margin: 0px auto;
}

/**
 *
 */
.typecho-page-title {
    margin-top: 30px;
    position: relative;
    background: #f7fbe9 url(../images/3.png) repeat-x center;
    height: 30px;
    overflow: hidden;
}

.typecho-page-title h2 {
    background: #f7fbe9;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    float: left;
}

.typecho-page-title p {
    height: 30px;
    float: right;
    background: #f7fbe9;
    padding-left: 5px;
}

.typecho-page-title a:link, .typecho-page-title a:visited {
    line-height: 30px;
    color: #e68d1c;
    text-decoration: none;
    font-size: 14px;
}

.typecho-page-title a:hover {
    text-decoration: underline;
}


/**
 *
 */
.typecho-pager {
    text-align: center;
    overflow: hidden;
    height: 15px;
    position:relative;
}

.typecho-pager div.cetner-fullwidth {
    text-align: center;
    position:relative;
    left: 50%;
}

.typecho-pager div.cetner-fullwidth h4 {
    float: left;
    _position:relative;
}

.typecho-pager div.cetner-fullwidth ul {
    _position:relative;
    float: left;
}

.typecho-pager h4 {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
}

.typecho-pager ul {
    list-style: none;
    height: 15px;
    line-height: 15px;
}

.typecho-pager li {
    font-family: arial,sans-serif;
    margin-right: 3px;
    font-size: 12px;
    float: left;
    height: 15px;
    line-height: 15px;
    width: 15px;
}

.typecho-pager a:link, .typecho-pager a:visited {
    text-decoration: none;
    color: #000;
    display: block;
    height: 15px;
    width: 15px;
}

.typecho-pager li.current {
    background: #e68d1c;
}

.typecho-pager li.current a {
    color: #fff;
}

/**
 *
 */
.typecho-article-list {
    margin-top: 25px;
}

.typecho-operate {
    height: 30px;
    clear: both;
    font-size: 14px;
    overflow: hidden;
}

.typecho-operate a:link, .typecho-operate a:visited {
    color: #333;
    text-decoration: underline;
}

.typecho-operate p.operate{
    float: left;
}

.typecho-operate p.search {
    float: right;
}

/**
 *
 */
table.typecho-list  {
    font-size: 14px;
    width: 100%;
    margin: 10px 0 25px 0;
}

table.typecho-list thead {
	background: #DAE7B4;
}

table.typecho-list th {
    text-align: left;
    padding: 5px;
	font-weight:bold;
	border-top: 1px solid #9BC14A;
}

table.typecho-list td {
    font-size: 13px;
    height: 32px;
    line-height: 32px;
	padding: 0 5px;
	border-bottom: 1px dashed #DEE4C5;
}

table.typecho-list tbody tr.even {
}

table.typecho-list tbody tr.hover, table.typecho-list tbody tr:hover {
    color: #000;
    cursor: pointer;
	background: #ECF5CB;
}

table.typecho-list tbody tr.hover a, table.typecho-list tbody tr:hover a {
	color: #000;
}

table.typecho-list h4 {
    font-weight: normal;
}

table.typecho-list sup {
    font-size: 12px;
    margin-left: 5px;
}

table.typecho-list a:link , table.typecho-list a:visited {
    color: #474A51;
	border-bottom: 1px solid #DAE7B4;
    text-decoration: none;
}

table.typecho-list a:hover {
    text-decoration: none;
	border-bottom: 1px solid #9BC14A;
}

table.typecho-list span.important {
    color: #e68d1c;
}

/**
 *
 */
.typecho-option-list {
    position: relative;
    overflow: hidden;
    zoom: 1;
    margin-top: 25px;
}

.typecho-option-item {
    border-top: 1px dashed #dee4c5;
    position: relative;
    padding: 10px 0px;
    margin: 0px;
    top: -1px;
}

.typecho-option-item h4 {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 120px;
    text-align: right;
    font-size: 12px;
}

.typecho-option-item p {
    padding-left: 130px;
    font-size: 12px;
}

.typecho-option-item p.summary {
    color: #999;
}

.typecho-option-item input[type='text'], .typecho-option-item textarea {
    width: 600px;
    border: 1px solid #dee4c5;
    padding: 2px;
}

.typecho-option-item textarea {
    height: 200px;
}

.typecho-option-submit {
    padding-top: 10px;
    border: 0px;
}
