/**
 *
 *
 */
body {
    background: #f7fbe9;
    font-family:"Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文黑体",STHeiti,Georgia,"Times New Roman",Times,serif;
}

/**
 * 头部导航
 */
.typecho-head-guid {
    height: 30px;
    background: #333;
    color: #fff;
    position: relative;
}

.typecho-head-guid dl {
    overflow: hidden;
    zoom: 1;
}

.typecho-head-guid dt {
    float: left;
    height: 30px;
    line-height: 30px;
    background: #333 url(../images/1.png) no-repeat top right;
    padding-right: 15px;
    font-size: 12px;
    margin-left: 25px;
    zoom: 1;
}

.typecho-head-guid dt:hover {
    cursor: pointer;
}

.typecho-head-guid dd {
    display: none;
}

.typecho-head-guid dd.show {
    display: block;
    position: absolute;
    background: #333;
    font-size: 12px;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

.typecho-head-guid dd.show ul {
    position: relative;
    list-style: none;
    top: -1px;
}

.typecho-head-guid dd.show li {
    border-top: 1px solid #5f6159;
    margin-bottom: 3px;
    padding: 5px 8px;
    margin: 0px 8px;
}

.typecho-head-guid dd.show a:link, .typecho-head-guid dd.show a:visited {
    text-decoration: none;
    color: #fff;
}

.typecho-head-guid dd.show a:hover {

}

.typecho-head-guid p.operate {
    position:absolute;
    font-size: 12px;
    top: 0px;
    right: 5px;
    *right: 25px;
    height: 30px;
    line-height: 30px;
}

.typecho-head-guid p.operate a.exit {
    display: inline-block;
    background: url(../images/2.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -999px;
    outline: none;
    overflow: hidden;
    position:relative;
    *position:absolute;
    top: 5px;
}

.typecho-head-guid p.operate span.author {
    padding-right: 8px;
}


/**
 *
 */
.typecho-container {
    background: #f7fbe9;
    width: 950px;
    margin: 0px auto;
}

/**
 *
 */
.typecho-page-title {
    margin-top: 30px;
    position: relative;
    background: #f7fbe9 url(../images/3.png) repeat-x center;
    height: 30px;
    overflow: hidden;
}

.typecho-page-title h2 {
    background: #f7fbe9;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    float: left;
}

.typecho-page-title p {
    height: 30px;
    float: right;
    background: #f7fbe9;
    padding-left: 5px;
}

.typecho-page-title a:link, .typecho-page-title a:visited {
    line-height: 30px;
    color: #e68d1c;
    text-decoration: none;
    font-size: 14px;
}

.typecho-page-title a:hover {
    text-decoration: underline;
}


/**
 *
 */
.typecho-pager {
    text-align: center;
    overflow: hidden;
    height: 15px;
    position:relative;
}

.typecho-pager div.cetner-fullwidth {
    text-align: center;
    position:relative;
    left: 50%;
}

.typecho-pager div.cetner-fullwidth h4 {
    float: left;
    _position:relative;
}

.typecho-pager div.cetner-fullwidth ul {
    _position:relative;
    float: left;
}

.typecho-pager h4 {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
}

.typecho-pager ul {
    list-style: none;
    height: 15px;
    line-height: 15px;
}

.typecho-pager li {
    font-family: arial,sans-serif;
    margin-right: 3px;
    font-size: 12px;
    float: left;
    height: 15px;
    line-height: 15px;
    width: 15px;
}

.typecho-pager a:link, .typecho-pager a:visited {
    text-decoration: none;
    color: #000;
    display: block;
    height: 15px;
    width: 15px;
}

.typecho-pager li.current {
    background: #e68d1c;
}

.typecho-pager li.current a {
    color: #fff;
}




