/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 */
/**
 * Typecho 后台样式
 *
 * @author  i.feelinglucky@gmail.com
 * @since   2008-09-26
 * @link    http://www.typecho.net/
 * @version $Id: grid.source.css 470 2008-09-26 15:23:38Z i.feelinglucky $
 */
/**
 * 全局样式
 */
body {
    background: #f7fbe9;
}

body.dark {
    background: #333;
}

h1, h2, h3, h4, h5, h6, p {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

a:link, a:visited {
    color: #e47e00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.important {
    color: #fff;
}

em {
    color: #e47e00;
    font-weight: normal;
}

input {
    border: 1px solid #dee4c5;
    padding: 2px;
    font-size: 14px;
}

input.focus, input:focus {
    background: #eef1e0;
}


/**
 * logo 的样式
 */
.logo {
    display: block;
    height: 20px;
    width: 92px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat scroll 0px -78px;
}

.logo-dark {
    display: block;
    height: 20px;
    width: 92px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat scroll 0px -150px;
}


/**
 * 典型配置选项
 */
/*
.typecho-option {

}
 */

.typecho-option li {
    padding-left: 110px;
}

.typecho-option label {
    float: left;
    width: 110px;
    text-align: right;
    margin-left: -120px;
    font-size: 14px;
}

.typecho-option .desption {
    color: #555;
}


/**
 * 提示信息框
 */

.message {
    padding: 2px;
    font-size: 12px;
    color: #333;
}

.message a:link, .message a:visited {
    color: #333;
    text-decoration: underline;
}

.error {
    border: 1px solid #fbc2c4;
    background: #fbe3e4;
}

.notice {
    background: #fff6bf;
    border: 1px solid  #ffd324;
}

.success {
    background: #e6efc2;
    border: 1px solid #c6d880;
}



/** 
 * 安装样式
 * 
 * @author mingcheng
 * @date   2008-09-06
 */
/**
 * 安装向导
 */
.typecho-install-patch {
    height: 30px;
    line-height: 30px;
    background: #333;
}

.typecho-install-patch ol {
    list-style: none;
    position: relative;
    overflow: hidden;
    margin-left: 20px; /* 给第一个位置流出 20px */
    zoom: 1;
}

.typecho-install-patch li {
    font-weight: 600;
    float: left;
    color: #999;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    left: -20px;
    position: relative;
    margin-right: 15px;
    background: #333 url(../images/sprite.png) no-repeat scroll 0px 0px; 
}

.typecho-install-patch li.current {
    color: #fff;
}


/**
 * 安装主体内容
 */
.typecho-install {
    margin: 30px auto;
}

.typecho-install .typecho-install-title, .typecho-install .typecho-install-body {
    padding: 0px 0px 10px 0px;;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #dee4c5;
}

.typecho-install .typecho-install-title {
    line-height: 25px;
    height: 25px;
    padding-left: 100px;
    background: url(../images/sprite.png) no-repeat scroll 0px -75px; 
}

/*
.typecho-install .typecho-install-body {

}
 */

.typecho-install .typecho-install-body h2 {
    margin-top: 10px;
    color: #e47e00;
}

.typecho-install .typecho-install-body p {
    line-height: 18px;
    margin-top: 5px;
    text-align: justify;
}

.typecho-install .session {
    margin-bottom: 20px;
}

.typecho-install .session ul {
    font-size: 12px;
    list-style: none;
    margin-left: 24px;
}

.typecho-install .session a:link, .typecho-install .session a:hover {
    text-decoration: underline;
    line-height: 20px;
}

.typecho-install .typecho-option {
    margin: 10px 0px;
}

.typecho-install .typecho-option li {
    margin-bottom: 5px;
}

.typecho-install .typecho-option .message {
    margin: 2px 0px;
    overflow: hidden;
}

.typecho-install .typecho-option .message,
.typecho-install .typecho-option input {
    width: 325px;
}

.typecho-install .typecho-option input.mini {
    width: 125px;
}

/*
.typecho-install .submit {
margin-top: 25px;
}
 */


/**
 * 登录框
 */
.typecho-login {
    position: relative;
    margin: 15% auto;
}

.typecho-login .logo, .typecho-login .logo-dark {
    margin: 10px auto;
}

.typecho-login form {
    background: #e5ead1;
    padding: 10px;
    font-size: 12px;
}

.typecho-login legend {
    display: none;
}

.typecho-login label {
    display: block;
    font-weight: bold;
}

.typecho-login input.text {
    width: 200px;
}

.typecho-login form p {
    margin-bottom:20px;
}

.typecho-login form p.submit {
    margin: 5px 0px 0px 0px;
    position: relative;
}

.typecho-login form p.submit button {
    position: absolute;
    right: 0px; top: 0px;
}

.typecho-login .more-link {
    font-size: 12px;
    margin: 10px auto;
    clear: both;
    overflow: hidden;
}

.typecho-login .more-link .back-to-site {
    float: left;
}

.typecho-login .more-link .forgot-password {
    float: right;
}


/**
 * 后台头部导航
 */
.typecho-head-guid {
    height: 30px;
    background: #333;
    color: #fff;
    position: relative;
    z-index: 250; /* IE 是个 250 */
}

.typecho-head-guid dl {
    overflow: hidden;
    margin-left:10px;
    zoom: 1;
}

.typecho-head-guid dt {
    float: left;
    margin: 4px 4px 0 0;
    font-size: 12px;
    overflow: hidden;
}

.typecho-head-guid dt a:link, .typecho-head-guid dt a:visited {
    float: left;
    color: #fff;
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
    background: #333;
    display: block;
    outline: none;
}

.typecho-head-guid dt.current a:link, .typecho-head-guid dt.current a:visited,
.typecho-head-guid dt a:hover {
    background: #e47e00;
    text-decoration: none;
}

.typecho-head-guid dd {
    display:none;
    position:absolute;
    background: #f7fbe9 url(../images/typecho-head-guid-shadow.png) bottom no-repeat;
    font-size: 13px;
    overflow: hidden;
    width:160px;
    z-index:100;
    border-top: none;
    padding:10px 10px 20px;
    z-index: 250;
    top: 30px;
}

.typecho-head-guid ul {
    position: relative;
    list-style: none;
    top: 0;
}

.typecho-head-guid li {
    margin-bottom: 2px;
}

.typecho-head-guid dd li.current {
    background: #E68A17;
}

.typecho-head-guid dd li.current a {
    color: #fff;
}

.typecho-head-guid dd a:link, .typecho-head-guid dd a:visited {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 4px 10px;
    zoom: 1;
}

.typecho-head-guid dd a:hover {
    background: #E5EAD1;
}

.typecho-head-guid .operate {
    color: #fff;
    position:absolute;
    font-size: 12px;
    top: 0px;
    right: 5px;
    /* review IE */
           *right: 25px;
           height: 30px;
           line-height: 30px;
}

.typecho-head-guid .operate a.exit {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat scroll 0px -223px;
    width: 20px;
    height: 20px;
    text-indent: -999px;
    outline: none;
    overflow: hidden;
    position:relative;
             *position:absolute;
             top: 5px;
}

.typecho-head-guid .operate .author {
    margin-right: 8px;
    text-decoration: underline;
}


/**
 * 注脚
 */
.typecho-foot {
    background: #333333;
    padding: 15px 25px 80px 25px;
    font-size: 12px;
    text-align: center;
    color: #999;
}

.typecho-foot h4 {
    margin: 5px auto;
}

.typecho-foot h4 a {
    margin: 0px auto;
}

.typecho-foot em {
    color: #fff;
}

/*
.typecho-foot .copyright {

}

    .typecho-foot .resource {

}
 */

.typecho-foot .resource ul {
    list-style: none;
    margin: 5px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
             *display: inline;
             *zoom: 1;
}

.typecho-foot .resource li {
    font-size: 12px;
    left: -6px;
    position: relative;
    float: left;
    padding: 0px 5px;
    line-height: 12px;
    border-left: 1px solid #999;
}

.typecho-foot .resource li a:link, .typecho-foot .resource li a:visited {
    color: #999;
}

.typecho-foot-v2 {
    text-align: left;
}

.typecho-foot-v2 h4 {
    float: left;
    margin-right: 10px;
}

.typecho-foot-v2 h4 a {
    margin: 0px;
}

.typecho-foot-v2 .resource ul {
    text-align: left;
}

/**
 * 标题
 */
.typecho-page-title {
    margin-top: 30px;
    position: relative;
    background: url(../images/sprite.png) repeat-x scroll 0px -1485px;
    height: 30px;
    overflow: hidden;
}

.typecho-page-title h2 {
    background: #f7fbe9;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    float: left;
}

.typecho-page-title p {
    height: 30px;
    float: right;
    background: #f7fbe9;
    padding-left: 10px;
}

.typecho-page-title a:link, .typecho-page-title a:visited {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}

.typecho-page-title a:hover {
    text-decoration: underline;
}


/**
 * 后台页面主体
 */
.typecho-page-main {
    margin: 10px auto;
}


/**
 * 后台主页左侧导航列表
 */
.typecho-dashboard-nav h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 16px;
}

.typecho-dashboard-nav h3.intro {
    font-size: 12px;
}

.typecho-dashboard-nav .intro-link {
    background: none;
    padding: 0px;
    font-size: 12px;
    margin-bottom: 10px;
}

.typecho-dashboard-nav .intro-link ul {
    list-style: none;
}

.typecho-dashboard-nav .intro-link li {
    height: 18px;
    line-height: 18px;
    border: none;
    margin: 2px 0px;
}

.typecho-dashboard-nav .intro-link .date {
    padding-left: 5px;
}

.typecho-dashboard-nav .dashboard-status {
    font-size: 12px;
}

.typecho-dashboard-nav .status p {
    margin-bottom: 5px;
}

.typecho-dashboard-nav .update-check {
    background: #dee4c5;
    color:#e47e00;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

.typecho-dashboard-nav .update-check p {

}

.typecho-dashboard-nav .update-check .current {
    font-size: 14px;
    font-weight: bold;
}

.typecho-dashboard-nav .update-check .current em {
    font-weight: bold;
}

.typecho-dashboard-nav .update-check .latest {
    font-size: 12px;
}

.typecho-dashboard-nav .update-check .latest a,
.typecho-dashboard-nav .update-check .latest em {
    color: #999;
}

/**
 * 主页主体
 */
.typecho-dashboard-main {

}

.typecho-dashboard-main .section {
    font-size: 14px;
    margin-bottom: 30px;
}

.typecho-dashboard-main .section h4 {
    font-size: 14px;
}

.typecho-dashboard-main .section ul {
    list-style: none;
}

.typecho-dashboard-main .section li {
    text-align: justify;
    line-height: 26px;
}

.typecho-dashboard-main .section .tags {
    margin: 0px 5px;
}

.typecho-dashboard-main .section .title {

}

.typecho-dashboard-main .section .date {

}

.typecho-dashboard-main .section .category {

}


