/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 */
/**
 * Typecho 后台样式
 *
 * @author  i.feelinglucky@gmail.com
 * @since   2008-09-26
 * @link    http://www.typecho.net/
 * @version $Id: grid.source.css 470 2008-09-26 15:23:38Z i.feelinglucky $
 */

/**
 * 全局样式
 */
body {
    background: #f7fbe9;
}

h1, h2, h3, h4, h5, h6, p {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

a:link, a:visited {
    color: #e47e00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border: 1px solid #dee4c5;
    padding: 2px;
}

input.focus, input:focus {
    background: #f7fbe9;
}

/**
 * 典型配置选项
 */
.typecho-option {

}

.typecho-option li {
    padding-left: 110px;
}

.typecho-option label {
    float: left;
    width: 110px;
    text-align: right;
    margin-left: -120px;
    font-size: 14px;
}

.typecho-option .desption {
    color: #555;
}


/**
 * 提示信息框
 */

.message {
    padding: 2px;
    font-size: 12px;
    color: #333;
}

.message a:link, .message a:visited {
    color: #333;
    text-decoration: underline;
}

.error {
    border: 1px solid #fbc2c4;
    background: #fbe3e4;
}

.notice {
    background: #fff6bf;
    border: 1px solid  #ffd324;
}

.success {
    background: #e6efc2;
    border: 1px solid #c6d880;
}


/**
 * 安装样式开始
 */

/**
 * 安装向导
 */
.typecho-install-patch {
    height: 30px;
    line-height: 30px;
    background: #333;
}

.typecho-install-patch ol {
    list-style: none;
    position: relative;
    overflow: hidden;
    margin-left: 20px; /* 给第一个位置流出 20px */
    zoom: 1;
}

.typecho-install-patch li {
    font-weight: 600;
    float: left;
    color: #999;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    left: -20px;
    position: relative;
    margin-right: 15px;
    background: #333 url(../images/sprite.png) no-repeat scroll 0px 0px; 
}

.typecho-install-patch li.current {
    color: #fff;
}


/**
 * 安装主体内容
 */
.typecho-install {
    margin: 30px auto;
}

.typecho-install .typecho-install-title, .typecho-install .typecho-install-body {
    padding: 0px 0px 10px 0px;;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #dee4c5;
}

.typecho-install .typecho-install-title {
    line-height: 25px;
    height: 25px;
    padding-left: 100px;
    background: url(../images/sprite.png) no-repeat scroll 0px -75px; 
}

.typecho-install .typecho-install-body {

}

.typecho-install .typecho-install-body h2 {
    margin-top: 10px;
    color: #e47e00;
}

.typecho-install .typecho-install-body p {
    line-height: 18px;
    margin-top: 5px;
    text-align: justify;
}

.typecho-install em {
    color: #e47e00;
}

.typecho-install .session {
    margin-bottom: 20px;
}

.typecho-install .session ul {
    font-size: 12px;
    list-style: none;
    margin-left: 24px;
}

.typecho-install .session a:link, .typecho-install .session a:hover {
    text-decoration: underline;
    line-height: 20px;
}

.typecho-install .typecho-option {
    margin: 10px 0px;
}

.typecho-install .typecho-option li {
    margin-bottom: 5px;
}

.typecho-install .typecho-option .message {
    margin: 2px 0px;
    overflow: hidden;
}

.typecho-install .typecho-option .message,
.typecho-install .typecho-option input {
    width: 325px;
}

.typecho-install .typecho-option input.mini {
    width: 125px;
}

/*
.typecho-install .submit {
margin-top: 25px;
}
 */

/**
 * 安装样式结束
 */





