/* ------------------------------------
 * Typecho Default Theme
 *
 * @author	fen1211@gmail.com
 * @link	http://typecho.net/
 * @update	2009-03-29 14:30
 * --------------------------------- */


/* = import 960.gs css framework */
@import url(css/960.gs.css);

/* ------------------
 * gobal settings
 * --------------- */
body {
background: #fff;
color: #444;
line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

input, textarea { font-family: Helvetica, Arial, sans-serif; font-size: 100%; }

a {
color: #16387C;
text-decoration: none;
border-bottom: 1px solid #D7E1E9;
}
a:hover {
color: #444;
}

pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
code { margin-bottom: 20px; }
pre, code {
display: block;
overflow: auto;
background: #eee;
padding: 5px 10px;
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }

/*code {display: block; border: 1px solid #AAAAAA; background: #F1ECDD; color: #444; line-height: 16px; overflow: auto;
	font-family: 'andale mono','lucida console',monospace; padding: 10px; margin: 10px 0;}*/

/* Tables
-------------------------------------------------------------- */

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

label       { font-weight: bold; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; }


ul { list-style-type: disc; }

/* = reset width to 840px, so there are 14 columns */
.container_16 { width: 840px; }

/* ------------------
 * header
 * --------------- */

#header {
color: #999;
padding: 30px 0;
}

#logo {
}

#logo h1 {
font-size: 29px;
font-weight: bold;
margin-bottom: 0;
}
#logo h1 a {
color: #444;
border: none;
}
#logo h1 a:hover {
}

p.description {
margin-bottom: 0;
}

/* = header navigation menu */
ul#nav_menu {
display: none;
background: #444;
height: 30px;
line-height: 30px;
list-style: none;
}
ul#nav_menu li {
float: right;
}
ul#nav_menu li a {
color: #fff;
}
ul#nav_menu li a.current {
}
ul#nav_menu li a:hover {
text-decoration: underline;
color: #16387C;
}

/* ------------------
 * content
 * --------------- */
#content { }
#content p { margin-bottom: 20px; }

.post {
margin-bottom: 20px;
width: 100%;
}

h2.entry_title {
margin-bottom: 0;
}

h2.entry_title a {
border: none;
}

.entry_data {
color: #ccc;
font-size: 12px;
}

.entry_data a {
}

.entry_data span {
margin-right: 4px;
padding-right: 7px;
color: #999;
border-right: 1px solid #eee;
}


/* = pages nav */
ol.pages {
margin: 20px 0 0 0;
color: #666;
list-style: none;
font-size: 12px;
}

ol.pages li {
margin: 0 5px 0 0;
display: inline;
}

ol.pages li a {
padding: 0 4px;
border: none;
text-decoration: none;
}

ol.pages li.current a {
background: #16387C;
color: #fff;
}

/* ------------------
 * comment list
 * --------------- */
#comments {
margin-top: 20px;
}
ol#comment_list, ol#comment_list ol {
margin: 0;
list-style: none;
}

ol#comment_list ol {
	padding-top: 10px;
}

ol#comment_list li {
margin: 0;
padding-bottom: 10px;
}

ol#comment_list li {
    background: #f3f3f3;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #eee;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	
	/* hope IE support border radius, God save me! */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

ol#comment_list ol li {
	background: #fff;
}

ol#comment_list li.odd {
	background: #eee;
}

ol#comment_list li .comment_reply {
	text-align: right;
}

ol#comment_list li .comment_reply a {
	font-style: italic;
	font-size: 10px;
}

.comment_data {
padding-bottom: 8px;
/*border-bottom: 1px dashed #eee;*/
color: #999;
font-size: 11px;
}
.comment_data .author {
display: block;
font-size: 15px;
color: #444;
}
.comment_data .count {
margin-left: 5px;
font-size: 13px;
font-weight: bold;
}
.comment_data .author a {
}
.comment_body {
overflow: hidden;
}

img.avatar {
/*display: none;*/
float: left;
margin: 6px 10px 0 0;
}

#respond {
	margin-top: 20px;
}

#comment_form {
}

#respond .cancle_comment_reply {
	float: right;
	font-style: italic;
	font-size: 10px;
	display: none
}

ol#comment_list li #respond .cancle_comment_reply {
	display: inline;
}

#comment_form label {
}
#comment_form .text {
width: 180px;
margin-right: 15px;
}
#comment_form textarea {
width: 420px;
height: 180px;
overflow: auto;
}

/* ------------------
 * sidebar
 * --------------- */
#sidebar {
}
.widget {
margin: 0 0 20px 10px;
}
.widget h3 {
font-size: 19px;
margin-bottom: 5px;
}
.widget ul {
margin: 0;
list-style-type: none;
}
.widget ul li {
margin: 0;
}

#search input.text {
}

/* ------------------
 * footer 
 * --------------- */
#footer {
margin-top: 15px;
padding: 15px 0;
text-align: center;
}

#footer a {
border-bottom: none;
}


/* -----------------
 * misc
 *--------------- */
.aligncenter,
div.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}

.alignleft {
float: left;
}

.alignright {
float: right;
}

img.alignleft { margin: 4px 15px 0 0; }
img.alignright { margin: 4px 0 0 15px; }

.alt { 
color: #666; 
font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
font-weight: normal;
}
