/*
 * Typecho Default Theme
 *
 * @author	fen1211@gmail.com
 * @link	http://typecho.net/
 * @update	2008-12-22 22:00
 */


/* import 960.gs css framework */
@import url(css/960.gs.css);

/*
 * gobal settings
 */
body {
background: #fff;
color: #222;
font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
line-height: 1.62;
}

input, textarea { font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif; font-size: 100%; }

a {
color: #bd6800;
text-decoration: none;
}
a:hover {
color: #333;
text-decoration: underline;
}

p img {
border: 1px solid #e5ead1;
padding: 2px;
}

code {display: block; border: 1px solid #AAAAAA; background: #F1ECDD; color: #000; line-height: 16px; overflow: auto;
	font-family: 'andale mono','lucida console',monospace; font-size: 12px; padding: 10px; margin: 10px 0;}

/*
 * !!! reset container_16 width=840px, and there are 14 columns !!!
 */
.container_16 { width: 840px; }

/*
 * header
 */

#header {
color: #666;
margin: 0 10px 15px;
height: 115px;
position: relative;
border-bottom: 1px dotted #EAF2CE;
}

#logo {
position: absolute;
top: 22px;
left: 0;
background: url(images/logo_bg.png) no-repeat right top;
padding-right: 20px;
}

#logo h1 {
font-size: 36px;
margin-bottom: 0;
}
#logo h1 a {
color: #222;
}
#logo h1 a:hover {
text-decoration: none;
}

p.description { margin: -5px 0 0; text-align: right; }

/* header nav menu */
ul#nav_menu {
list-style: none;
position: absolute;
right: 0;
top: 50px;
overflow: hidden !important;
overflow: visible;
}
ul#nav_menu li {
display: inline;
margin: 0 5px 0 0;
padding-left: 8px;
border-left: 1px dotted #EAF2CE;
margin-left: -1px;
}
ul#nav_menu li a {
color: #333;
font-weight: bold;
}
ul#nav_menu li a.current {
}
ul#nav_menu li a:hover {
text-decoration: underline;
color: #BD6800;
}

/*
 * content
 */
#content {
/*border-top: 1px solid #eaf2ce;*/
}
#content a { font-weight: bold; }

.post {
/*border-bottom: 1px solid #eaf2ce;*/
margin-bottom: 30px;
}

h2.entry_title {
margin-bottom: 0;
overflow: hidden;
/*font-size: 18px;*/
color: #BD6800;
}

.entry_data {
color: #666;
margin-bottom: 15px;
}

#post_extra {
border-top: 1px dotted #EAF2CE;
padding: 5px 0;
text-align: right;
}

/* pages nav */
ol.pages {
margin: 20px 0 0 0;
color: #666;
list-style: none;
}

ol.pages li {
margin: 0 2px 0 0;
padding: 0 6px 0 0;
border-right: 1px solid #EAF2CE;
display: inline;
}

ol.pages li a {
	padding: 0 2px;
}

ol.pages li.current a {
background: #BD6800;
color: #fff;
}

/*
 * comment list
 */
#comments {
margin-top: 20px;
}
ol#comment_list {
margin: 0;
list-style: none;
}
ol#comment_list li {
margin: 0 0 25px;
}
.comment_data {
margin-bottom: 5px;
padding-bottom: 5px;
border-bottom: 1px dotted #EAF2CE;
color: #777;
}
.comment_data .author {
font-weight: bold;
color: #333;
}
.comment_body {
overflow: hidden;
}

img.avatar {
background: #fff;
border: 1px solid #E9F4BF;
padding: 2px;
float: left;
width: 32px;
height: 32px;
margin: 0 10px 0 0;
}

#comment_form {
}
#comment_form label {
margin-left: 15px;
}
#comment_form p {
margin-bottom: 10px;
}
#comment_form .text {
width: 40%;
}
#comment_form textarea {
width: 90%;
}

/*
 * sidebar
 */
#sidebar {
/*background: #f3fade;*/
}
.widget {
/*padding: 20px 25px;
border-bottom: 1px solid #e5ead1;
border-top: 1px solid #fff;*/
margin-bottom: 25px;
}
.widget h2 {
font-size: 15px;
margin-bottom: 2px;
}
.widget ul {
margin: 0;
list-style-type: none;
}
.widget ul li {
overflow: hidden;
margin: 0;
border-bottom: 1px dotted #eaf2ce;
padding: 3px 0;
/*padding-left: 12px;
background: url(images/widget_style_li.png) 0 5px no-repeat;*/
}

/* 
 * footer 
 */
#footer {
margin-top: 15px;
padding: 15px 0;
text-align: center;
}


/*
 * misc
 */
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}
