/* ------------------------------------
 * Typecho Default Theme
 *
 * @author	fen1211@gmail.com
 * @link	http://typecho.net/
 * @update	2009-03-29 14:30
 * --------------------------------- */


/* = import 960.gs css framework */
@import url(css/960.gs.css);

/* ------------------
 * gobal settings
 * --------------- */
body {
background: #fff;
color: #333;
font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
line-height: 1.7;
}

h1 { font-size: 21px; }
h2 { font-size: 19px; }
h3 { font-size: 17px; }
h4 { font-size: 15px; }
h5 { font-size: 13px; }

input, textarea { font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 100%; }

a {
color: #06c;
text-decoration: none;
}
a:hover {
color: #333;
text-decoration: underline;
}

code {display: block; border: 1px solid #AAAAAA; background: #F1ECDD; color: #333; line-height: 16px; overflow: auto;
	font-family: 'andale mono','lucida console',monospace; font-size: 12px; padding: 10px; margin: 10px 0;}

ul { list-style-type: disc; }

/* = reset width to 840px, so there are 14 columns */
.container_16 { width: 840px; }

/* ------------------
 * header
 * --------------- */

#header {
color: #999;
margin: 0 10px 20px;
padding: 15px 0; 
border-bottom: 1px solid #ddd;
}

#logo {
}

#logo h1 {
margin: 0;
font-size: 29px;
float: left;
}
#logo h1 a {
color: #333;
text-decoration: none;
}
#logo h1 a:hover {
}

p.description {
margin: 14px 0 0 10px;
padding-left: 10px;
border-left: 1px solid #ddd;
float: left;
}

/* = header navigation menu */
ul#nav_menu {
float: right;
margin: 16px 0 0 0;
list-style: none;
}
ul#nav_menu li {
display: inline;
margin: 0 0 0 15px;
}
ul#nav_menu li a {
color: #333;
}
ul#nav_menu li a.current {
}
ul#nav_menu li a:hover {
text-decoration: underline;
color: #06c;
}

/* ------------------
 * content
 * --------------- */
#content { }
#content p { margin-bottom: 15px; }

.post {
margin-bottom: 20px;
padding-bottom: 10px;
border-bottom: 1px solid #ddd;
overflow: hidden;
}

h2.entry_title {
margin-bottom: 0;
}

h2.entry_title a {
color: #333;
}

.entry_data {
color: #ccc;
font-size: 12px;
}

.entry_data span {
margin-right: 4px;
padding-right: 7px;
color: #999;
border-right: 1px solid #ddd;
}


/* = pages nav */
ol.pages {
margin: 20px 0 0 0;
color: #666;
list-style: none;
font-size: 12px;
}

ol.pages li {
margin: 0 5px 0 0;
display: inline;
}

ol.pages li a {
padding: 0 4px;
text-decoration: none;
}

ol.pages li.current a {
background: #06c;
color: #fff;
}

/* ------------------
 * comment list
 * --------------- */
#comments {
margin-top: 20px;
}
ol#comment_list {
margin: 0;
list-style: none;
}
ol#comment_list li {
margin: 0;
padding-bottom: 10px;
}
.comment_data {
margin-bottom: 8px;
padding-bottom: 8px;
border-bottom: 1px dashed #ddd;
color: #999;
font-size: 11px;
text-align: right;
}
.comment_data .author {
float: left;
font-size: 15px;
font-weight: bold;
color: #333;
}
.comment_data .count {
margin-left: 5px;
font-size: 13px;
font-weight: bold;
}
.comment_data .author a { text-decoration: none; }
.comment_body {
overflow: hidden;
}

img.avatar {
/*display: none;*/
float: right;
margin: 5px 0 0 10px;
}

#comment_form {
}
#comment_form label {
margin-left: 15px;
}
#comment_form .text {
width: 200px;
}
#comment_form textarea {
width: 420px;
height: 220px;
overflow: auto;
}

/* ------------------
 * sidebar
 * --------------- */
#sidebar {
}
.widget {
margin-bottom: 25px;
}
.widget h3 {
font-size: 15px;
margin-bottom: 5px;
color: #333;
}
.widget ul {
margin: 0;
list-style-type: none;
}
.widget ul li {
margin: 0;
}

#search input.text {
width: 145px;
}

/* ------------------
 * footer 
 * --------------- */
#footer {
margin-top: 15px;
padding: 15px 0;
text-align: center;
}


/* -----------------
 * misc
 *--------------- */
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

img.alignleft { margin: 4px 10px 0 0; }
img.alignright { margin: 4px 0 0 10px; }
