a.botton {
padding: 1px 10px 3px;
}

#content #title {
width: 98%;
}

#content #tags, #content #slug {
width: 98%;
}

input, textarea, select, button {
vertical-align:baseline
}

#login button {
    line-height: 1.5em; /* For IE */
}
