.container {
width: 94%;
margin: 0 auto;
}

/*
 * Header Nav Menu
 */

#header {
height: 135px;
}

#nav-bar {
color: #999;
margin-top: 5px;
}

#nav-bar a {
color: #369;
margin: 0 5px;
}

#nav-menu {
position: relative;
top: 34px;
width: 100%;
}

#nav-menu a {
color: #369;
float: left;
display: block;
font-size: 1.1em;
font-weight: bold;
margin-right: 10px;
padding: 0 0 0 10px;
}

#nav-menu a:hover, #nav-bar a:hover {
color: #09c;
}

#nav-menu a span {
padding: 3px 10px 3px 0;
display: block;
}

#nav-menu a.current {
color: #036;
background: #fff url(../images/nav-menu-bg.png) top left no-repeat;
}

#nav-menu a.current span {
background: #fff url(../images/nav-menu-span-bg.png) top right no-repeat;
}

/* Nav-Menu-Level-2 */

#nav-menu ul.level-2 {
list-style-type: none;
position: relative;
top: 0;
margin: 0;
height: 34px;
width: 100%;
}

#nav-menu ul.level-2 li {
float: left;
}
#nav-menu ul.level-2 li.last {
background: url(../images/level-2-bg.png) top right no-repeat;
padding-right:2px;
}

#nav-menu ul.level-2 li a {
background: url(../images/level-2-bg.png) top left no-repeat;
display: block;
float: left;
margin: 0;
padding: 7px 18px 5px 20px;
}

#nav-menu ul.level-2 li a.current-2, #nav-menu ul.level-2 li a:hover {
background: #fff url(../images/level-2-bg.png) top left no-repeat;
text-decoration: none;
}

/*
 * Column
 */
 
#main {
margin-top: 20px;
width: 100%;
}

#content {
margin-right: 270px;
padding-right: 30px;
padding-left:1px;
width:auto;
overflow:hidden;
}

#sidebar {
background: #fff;
width: 270px;
float:right;
margin-left:-270px;
}

#page {}

table.setting {
width: 100%;
}

table.setting p {
font-size: 1em;
}

table.setting tr {
}

table.setting tr.alt {
background: #F3F6F9;
}

table.setting tr td {
font-size: 1.1em;
padding: 1em;
vertical-align: top;
}

table.setting tr td label {
font-size: 1em;
color: #369;
font-weight: bold;
}

table.setting tr td small {
color: #690;
display: block;
margin-top: .5em;
font-size: .9em;
}

/* Table */
.table_nav {
background: #E7EFF3;
padding: .6em .5em;
margin-bottom: 1.5em;
border: 1px solid #D6E3F1;
}

.submit_nav { border: none; font-size: 110%; margin-bottom: 1.5em; background:#E6EEF7; padding: .6em .5em; }

.page_nav a, .page_nav span {
background: url(../images/button.gif) 0% 30% repeat-x;
padding: 2px 5px;
border: 1px solid #D2E1F0;
margin-right:2px;
}

.page_nav span.current {
background-position: 0% 40%;
}

.page_nav a.select, .page_nav a:hover {
background-position: 0% 40%;
text-decoration: none;
}

table.latest { width: 100%; margin-bottom:2em; border: 1px solid #D6E3F1; }
table.latest tr.alt { background-color: #F3F6F9; }
table.latest tr.over { background-color: #EBEFF5; }
table.latest tr.drag { background-color: #336699; color: #FFF; }
table.latest tr th, table.latest tr td { text-align: left; padding: 2px 10px; vertical-align: middle; border-bottom: 1px solid #D6E3F1; }
table.latest tr td { padding: 5px 10px; }
table.latest tr th { color: #369; background: #E6EEF7 url(../images/table-th.png) left bottom repeat-x; border-bottom-color: #B0CAE6; text-transform: capitalize; }
table.latest img{ margin: 0 0 -4px 0; }

table.latest .spam, table.latest .deactivated { font-style: italic; font-size: .95em; }
table.latest .activated, table.latest .waiting, table.latest .draft, table.latest .page_draft { font-weight: bold; }

table#comment_list {
background: #fff;
}
table#comment_list p, table#plugin p {
margin-bottom: 1em;
}
table#comment_list tr td, table#plugin tr td {
vertical-align: top;
}

img.cmt_author {
width: 32px;
height: 32px;
margin: .2em 1em 0 0;
padding: 1px;
border: 1px solid #C5D8EB;
}

/* Content */
#msg { text-align: center; }

a.botton {
color: #E37400;
font-weight: bold;
background: #FFF6BF;
border: 1px solid #FFD324;
margin-left: 15px;
padding: 2px 10px;
display: block;
}
a.botton:hover {
color: #E37400;
background: #FFFAD2;
border-color: #FFDB4D;
text-decoration: none;
}

ul#cat_list {
background: #E6EEF7;
list-style-type: none;
padding: .5em;
width: 225px;
}

ul#permission_list {
list-style-type: none;
padding: 0;
width: 225px;
}

ul#cat_list li, ul#permission_list li {
padding: 0 .5em 0.2em;
margin: 0.2em 0;
}
ul#cat_list li:hover {
background: #CEE1EF;
}

img.theme {
width:120px;
height:90px;
padding:1px;
border:1px solid #C5D8EB;
}

/* Sidebar */
#userInfo img {
margin: 3px 10px 0 0;
padding: 1px;
border: 1px solid #C5D8EB;
}

#userInfo h4 {
margin-bottom: .2em;
}

#userInfo ol {
margin:0;
margin-left:20px;
padding:5px 0;
}

#userInfo ol li {
line-height:16px;
list-style-type:disc;
padding:0;
margin:0;
}

.quick-links {
margin: 0 0 25px 0;
background: #EDF3F9;
border: 1px solid #D2E1F0;
padding: 10px;
list-style: none;
}

.quick-links li {
margin: 0;
padding: 0;
line-height:25px;
font-weight:bold;
}

#publishing label {
width: 90px;
float: left;
color: #666;
margin-right: 5px;
}

#allow_status label {
margin-left: 5px;
vertical-align: middle;
}

/*
 * Forms
 */
input, textarea, select, button {
font-family:verdana,Helvetica,sans-serif; font-size:1em;
}

/*input[type="text"], input[type="password"], */textarea, select {
padding: .2em;
border: 1px solid #D2E1F0;
border-top: 1px solid #A6C4E1;
border-left: 1px solid #A6C4E1;
}

input.text, input.password {
padding: .2em;
border: 1px solid #D2E1F0;
border-top: 1px solid #A6C4E1;
border-left: 1px solid #A6C4E1;
}

select {
padding: .1em;
}

/*input[type="submit"], input[type="button"] {
color: #369;
background: url(../images/button.gif) 0% 20% repeat-x;
padding: .2em .8em;
border: 1px solid #A6C4E1;
border-top: 1px solid #D2E1F0;
border-left: 1px solid #D2E1F0;
cursor: pointer;
font-size: 12px;
font-weight: bold;
overflow:visible;
}*/

input.submit, input.button {
color: #369;
background: url(../images/button.gif) 0% 20% repeat-x;
padding: .2em .8em;
border: 1px solid #A6C4E1;
border-top: 1px solid #D2E1F0;
border-left: 1px solid #D2E1F0;
cursor: pointer;
font-size: 12px;
font-weight: bold;
overflow:visible;
}


#content #title {
width: 99%;
font-size: 1.5em;
}

#content #tags, #content #slug {
width: 99%;
font-size: 1.2em;
}

span#tag_list {
display: block;
margin: 1em .5em;
}
span#tag_list a {
margin-right: .2em;
}
span#tag_list a.select {
background: #E6EEF7;
padding: .2em .3em;
}

#text , #description {
width: 99%;
}

/*
 * Footer
 */
 
#footer {
padding: 15px 0;
/*width: 100%;
border-top: 1px solid #D6E3F1;
background: #EBEFF5 url(../images/white-line.png) repeat-x;*/
color: #666;
text-align: center;
}

#footer img {
vertical-align: middle;
}

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success{ padding: .5em .8em; margin: -.5em 0 1.4em; border: 1px solid #ddd; font-family:verdana,Helvetica,sans-serif; font-weight:bold }

.detail{ color: #8a1f11;font-weight: bold; }

.error{ background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success{ background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a{ color: #8a1f11; text-decoration: underline}
.notice a { color: #514721; text-decoration: underline}
.success a{ color: #264409; text-decoration: underline}
.error a:hover{text-decoration: none}
.notice a:hover{text-decoration: none}
.success a:hover{text-decoration: none}
.error ul,.notice ul,.success ul{padding:0;margin:0;list-style:none}
.error li,.notice li,.success li{padding:0;margin:0;}

/*
 * Login Page
 */
#login {
background: #fff;
padding: 1.5em 1.5em 0;
width: 280px;
margin: 120px auto;
}

#login p {
font-size: 1em;
}

#login label {
font-weight: bold;
}

/*#login input[type="text"], #login input[type="password"] {
width: 96%;
font-size: 1.5em;
}*/

#login input.text, #login input.password {
width: 96%;
font-size: 1.5em;
}

/*#login input[type="submit"] {
font-size: 1.2em;
padding: .2em .5em;
}*/

#login input.submit {
font-size: 1.2em;
padding: .2em .5em;
}



/*
 * Misc
 */
 
.clear {
clear: both;
}

.left {
float: left;
}

.right {
float: right;
}

hr {
background: #ddd; 
color: #ddd;
clear: both; 
float: none; 
width: 100%; 
height: .1em;
margin: 0 0 1.45em;
border: none; 
}
hr.space {
background: #fff;
color: #fff;
}

/* Main Flora Style Sheet for jQuery UI ui-datepicker */
#ui-datepicker-div, .ui-datepicker-inline {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #E0F4D7;
	width: 185px;
}
#ui-datepicker-div {
	display: none;
	border: 1px solid #304369;
	z-index: 10;
}
.ui-datepicker-inline {
	float: left;
	display: block;
	border: 0;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-dialog {
	padding: 5px !important;
	border: 4px ridge #83C948 !important;
}
button.ui-datepicker-trigger {
	width: 25px;
}
img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}
.ui-datepicker-prompt {
	float: left;
	padding: 2px;
	background: #E0F4D7;
	color: #000;
}
*html .ui-datepicker-prompt {
	width: 185px;
}
.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header, .ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #FFF;
}
.ui-datepicker-control {
	background: #336699;
	padding: 2px 0px;
}
.ui-datepicker-links {
	background: #E0F4D7;
	padding: 2px 0px;
}
.ui-datepicker-control, .ui-datepicker-links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.ui-datepicker-links label {
	padding: 2px 5px;
	color: #888;
}
.ui-datepicker-clear, .ui-datepicker-prev {
	float: left;
	width: 34%;
}
.ui-datepicker-rtl .ui-datepicker-clear, .ui-datepicker-rtl .ui-datepicker-prev {
	float: right;
	text-align: right;
}
.ui-datepicker-current {
	float: left;
	width: 30%;
	text-align: center;
}
.ui-datepicker-close, .ui-datepicker-next {
	float: right;
	width: 34%;
	text-align: right;
}
.ui-datepicker-rtl .ui-datepicker-close, .ui-datepicker-rtl .ui-datepicker-next {
	float: left;
	text-align: left;
}
.ui-datepicker-header {
	padding: 1px 0 3px;
	background: #83C948;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.ui-datepicker-header select {
	background: #83C948;
	color: #000;
	border: 0px;
	padding:0;
	border:0;
	font-size:0.9em;
	font-weight: bold;
}
.ui-datepicker {
	background: #CCC;
	text-align: center;
	font-size: 100%;
}
.ui-datepicker a {
	display: block;
	width: 100%;
}
.ui-datepicker-title-row {
	background: #B1DB87;
	color: #000;
}
.ui-datepicker-title-row .ui-datepicker-week-end-cell {
	background: #B1DB87;
}
.ui-datepicker-days-row {
	background: #FFF;
	color: #666;
}
.ui-datepicker-week-col {
	background: #B1DB87;
	color: #000;
}
.ui-datepicker-days-cell {
	color: #000;
	border: 1px solid #DDD;
}
.ui-datepicker-days-cell a {
	display: block;
}
.ui-datepicker-week-end-cell {
	background: #E0F4D7;
}
.ui-datepicker-unselectable {
	color: #888;
}
.ui-datepicker-week-over, .ui-datepicker-week-over .ui-datepicker-week-end-cell {
	background: #B1DB87 !important;
}
.ui-datepicker-days-cell-over, .ui-datepicker-days-cell-over.ui-datepicker-week-end-cell {
	background: #FFF !important;
	border: 1px solid #777;
}
* html .ui-datepicker-title-row .ui-datepicker-week-end-cell {
	background: #B1DB87 !important;
}
* html .ui-datepicker-week-end-cell {
	background: #E0F4D7 !important;
	border: 1px solid #DDD !important;
}
* html .ui-datepicker-days-cell-over {
	background: #FFF !important;
	border: 1px solid #777 !important;
}
* html .ui-datepicker-current-day {
	background: #83C948 !important;
}
.ui-datepicker-today {
	background: #B1DB87 !important;
}
.ui-datepicker-current-day {
	background: #83C948 !important;
}
.ui-datepicker-status {
	background: #E0F4D7;
	width: 100%;
	font-size: 80%;
	text-align: center;
}
#ui-datepicker-div a, .ui-datepicker-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.ui-datepicker-inline .ui-datepicker-links a {
	padding: 0 5px !important;
}
.ui-datepicker-control a, .ui-datepicker-links a {
	padding: 2px 5px !important;
	color: #000 !important;
}
.ui-datepicker-title-row a {
	color: #000 !important;
}
.ui-datepicker-control a:hover {
	background: #FDD !important;
	color: #333 !important;
}
.ui-datepicker-links a:hover, .ui-datepicker-title-row a:hover {
	background: #FFF !important;
	color: #333 !important;
}
.ui-datepicker-multi .ui-datepicker {
	border: 1px solid #83C948;
}
.ui-datepicker-one-month {
	float: left;
	width: 185px;
}
.ui-datepicker-new-row {
	clear: left;
}
.ui-datepicker-cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}

#CP_hourcont {
padding: 0px;
position:absolute;
border:1px solid #666666;
background-color:#999999;
color:white;
display:none;
}

#CP_minutecont {
background-color:#aaaaaa;
color:white;
padding: 1px;
position:absolute;
width:45px;
display:none;
}

.floatleft {
float:left;
}

.CP_hour {
padding:1px;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:35px;
}

.CP_minute {
padding:1px;
/*background-color:#dddddd;*/
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:auto;
}

.CP_over {
background-color:#333333;
}

.clearfix:after 
{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
* html>body .clearfix {
display: inline-block;
width: 100%;
}

* html .clearfix {
/* Hides from IE-mac \*/
height: 1%;
/* End hide from IE-mac */
}
 /* ie7 hack*/
*+html .clearfix {
min-height: 1% ;
}
